body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* variables */

:root{
  /* colors */
  --pink: #f56464;
  --black: #212121;
  --white: #FFFFFF;
  --light-gray: #858585;
  --dark-grey: #757575;

  /* borders */
  --border-width: 1px;
  --border-radius: 7px;

  /* font */
  --font-size-m: 14px;
  --font-size-l: 20px;
  --font-size-xl: 26px;
}